name: Upload latest data to github release

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 10 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: true
          
          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
          
      - name: Checkout
        uses: actions/checkout@v6.0.1
    
      - name: Get current date
        id: t1
        uses: Kaven-Universe/github-action-current-date-time@v1
        with:
          format: "YYYY-MM-DD"
      - name: Save current date
        id: date
        run: echo "date=${{ steps.t1.outputs.time }}" >> $GITHUB_OUTPUT
      - name: Dump Qlib Data
        env:
          WORKING_DIR: $GITHUB_WORKSPACE/../
        run: |
          ls -l $GITHUB_WORKSPACE
          pip3 install -r requirements.txt
          mkdir -p /home/runner/work/work_dir
          cp -r $GITHUB_WORKSPACE /home/runner/work/work_dir/investment_data
          ls -l /home/runner/work/work_dir/investment_data
          pip3 install sqlalchemy pyqlib tqdm yahooquery requests fire loguru
          bash $GITHUB_WORKSPACE/dump_qlib_bin.sh /home/runner/work/work_dir
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: /home/runner/work/work_dir/investment_data/qlib_bin.tar.gz
          asset_name: qlib_bin.tar.gz
          tag: ${{ steps.date.outputs.date }}
          overwrite: true
          body: "Daily update release"

      - name: Upload to modelscope dataset
        env:
          MODELSCOPE_TOKEN: ${{ secrets.MODELSCOPE_TOKEN }}
          MODELSCOPE_DATASET_NAME: ${{ secrets.MODELSCOPE_DATASET_NAME }}
        run: |
          pip3 install modelscope        
          modelscope login --token="$MODELSCOPE_TOKEN"
          modelscope upload "$MODELSCOPE_DATASET_NAME" /home/runner/work/work_dir/investment_data/qlib_bin.tar.gz qlib_bin.tar.gz --repo-type dataset

      - name: Send POST request via curl
        env:
          WEBHOOK_URL: ${{ secrets.BUILD_WEBHOOK_URL }}
        run: |
          curl -X POST \
            -H "Content-Type: application/json" \
            -d '{"key": "value"}' \
            ${{ secrets.BUILD_WEBHOOK_URL }}

      - name: Send Ding message via curl
        env:
          DING_WEBHOOK_URL: ${{ secrets.DING_WEBHOOK_URL }}
        run: |
          curl -X POST \
            -H "Content-Type: application/json" \
            -d '{"msgtype": "markdown", "markdown": {"title": "Qlib-daily:-QLIB DATA Updated", "text": "QLIB DATA  Updated"}}' \
            ${{ secrets.DING_WEBHOOK_URL }}