name: Upload latest data to github release

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 10 * * *'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: true
          
          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
          
      - name: Checkout
        uses: actions/checkout@v6.0.1
    
      - name: Get current date
        id: t1
        uses: Kaven-Universe/github-action-current-date-time@v1
        with:
          format: "YYYY-MM-DD"
      - name: Save current date
        id: date
        run: echo "date=${{ steps.t1.outputs.time }}" >> $GITHUB_OUTPUT
      - name: Dump Qlib Data
        run: |
          ls -l $GITHUB_WORKSPACE
          sudo bash $GITHUB_WORKSPACE/dump_qlib_bin.sh $GITHUB_WORKSPACE/investment_data_work
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GH_TOKEN }}
          file: ${{ github.workspace }}/qlib_bin.tar.gz
          asset_name: qlib_bin.tar.gz
          tag: ${{ steps.date.outputs.date }}
          overwrite: true
          body: "Daily update release"
